# IMPORTING LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Loading data sets
appl_data=pd.read_csv('application_data.csv')

# DATA UNDERSTANDING

In [ ]:
appl_data.shape

In [ ]:
appl_data.info(verbose=True)

In [ ]:
appl_data.describe(include='all')

# Data Cleaning

**CHECKING FOR MISSING VALUES IN COLUMNS**

In [ ]:
(appl_data.isnull().mean()*100).sort_values(ascending=False)

In [ ]:
to_drop=(appl_data.isnull().mean()*100)[appl_data.isnull().mean()>0.48]

* to_drop contains columns with more than 48% missing values.
 Imputing these columns might give a false information about the entire data set. So dropping these columns.

In [ ]:
to_drop.index

In [ ]:
appl_data.drop(to_drop.index,axis=1,inplace=True) # dropping columns with more than 48% missing values

**The following columns doesnt appear to be driving factors for a person to be a defaulter. SO DROPPING THESE COLUMNS**
*******************************************************************************************
* 'REGION_POPULATION_RELATIVE' :Normalized population of region where client lives (higher number means the client lives in more populated region)\
* FLAG_PHONE : Did client provide home phone (1=YES, 0=NO)
* REGION_RATING_CLIENT :Our rating of the region where client lives (1,2,3)
* WEEKDAY_APPR_PROCESS_START : On which day of the week did the client apply for the loan
* HOUR_APPR_PROCESS_START :Approximately at what hour did the client apply for the loan
* REG_REGION_NOT_LIVE_REGION :Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)
* REG_REGION_NOT_WORK_REGION:Flag if client's permanent address does not match work address (1=different, 0=same, at region level)
* LIVE_REGION_NOT_WORK_REGION:Flag if client's contact address does not match work address (1=different, 0=same, at region level)
* EMERGENCYSTATE_MODE (Dont understand what this column represent)
* EXT_SOURCE_2 (Dont understand what this column represent)
* EXT_SOURCE_3(Dont understand what this column represent)
* DAYS_LAST_PHONE_CHANGE

In [ ]:
col=['REGION_POPULATION_RELATIVE','FLAG_PHONE','REGION_RATING_CLIENT','WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_REGION_NOT_LIVE_REGION','EMERGENCYSTATE_MODE','EXT_SOURCE_2','EXT_SOURCE_3','DAYS_LAST_PHONE_CHANGE']   
appl_data.drop(col,axis=1,inplace=True)

In [ ]:
# shape of dataframe after dropping the columns
appl_data.shape

In [ ]:
 # checking columns those have null values
appl_data.isnull().mean()[appl_data.isnull().mean()>0]*100

**HANDLING MISSING VALUES IN OCCUPATION_TYPE COLUMN**\
OCCUPATION_TYPE column has more than 31% values missing

In [ ]:
appl_data['OCCUPATION_TYPE'].head()

In [ ]:
appl_data['OCCUPATION_TYPE'].value_counts()

1) occupation of a person has direct impact on the TARGET column, so dropping it is not a good idea.\
2) filling the missing values with the most occured value('Laborers') in the OCCUPATION_TYPE column will imply all the missing values are 'Laborers'  which may not be true.\
3) Hence,filling the missing values with 'unavailable'.

In [ ]:
# Replacing the missing values with 'unavailable'
appl_data.loc[appl_data['OCCUPATION_TYPE'].isna(),'OCCUPATION_TYPE']='unavailable'

In [ ]:
 # checking columns those have null value percentage greater 0
appl_data.isnull().mean()[appl_data.isnull().mean()>0]*100

In [ ]:
# The column in the following list have more than 13% missing values
list1=['AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR'
      ]

**UNDERSTANG THE COLUMNS IN THE list1 LIST**
* AMT_REQ_CREDIT_BUREAU_HOUR : Number of enquiries to Credit Bureau about the client one hour before application
* AMT_REQ_CREDIT_BUREAU_DAY : Number of enquiries to Credit Bureau about the client one day before application
* AMT_REQ_CREDIT_BUREAU_WEEK:Number of enquiries to Credit Bureau about the client one week before application
* AMT_REQ_CREDIT_BUREAU_MON : Number of enquiries to Credit Bureau about the client one month before application
* AMT_REQ_CREDIT_BUREAU_QRT : Number of enquiries to Credit Bureau about the client 3 month before application
* AMT_REQ_CREDIT_BUREAU_YEAR :  Number of enquiries to Credit Bureau about the client one year before application

In [ ]:
#trying to get statistical information about the columns in list1
appl_data[list1].describe()

**OBSERVATION**
* AMT_REQ_CREDIT_BUREAU_HOUR\
    -  mean = 0.006402
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data. 
* AMT_REQ_CREDIT_BUREAU_DAY\
    -  mean = 0.007000
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data.
* AMT_REQ_CREDIT_BUREAU_WEEK\
    -  mean = 0.034362
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data.
* AMT_REQ_CREDIT_BUREAU_MON\
    -  mean = 0.267395
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data.       
* AMT_REQ_CREDIT_BUREAU_QRT\
    -  mean = 0.265474
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data.       
* AMT_REQ_CREDIT_BUREAU_YEAR\
    -  mean = 1.899974
    -  median= 0
    -  Since the column has more than 13% missing values, imputing with mean or median will give a false idea\
       about the data.

**missing values in AMT_ANNUITY column**

In [ ]:
appl_data['AMT_ANNUITY'].head()

In [ ]:
appl_data['AMT_ANNUITY'].describe()

In [ ]:
sns.distplot(appl_data['AMT_ANNUITY'])

Clearly from the above distplot the distribution of AMT_ANNUITY is skewed. So mean may not be the correct estimation for the missing values. Its better to impute the missing values with the median.

In [ ]:
#filling the missing values of AMT_ANNUITY column with median
appl_data['AMT_ANNUITY'].fillna(appl_data['AMT_ANNUITY'].median(),inplace=True)

**missing values in AMT_GOODS_PRICE column**

In [ ]:
appl_data['AMT_GOODS_PRICE'].head()

In [ ]:
appl_data['AMT_GOODS_PRICE'].describe()

In [ ]:
sns.distplot(appl_data['AMT_GOODS_PRICE'])

Clearly from the above distplot the distribution of AMT_GOODS_PRICE is skewed. So mean may not be the correct estimation for the missing values. Its better to impute the missing values with the median.

In [ ]:
#filling the missing values of AMT_ANNUITY column with median
appl_data['AMT_GOODS_PRICE'].fillna(appl_data['AMT_GOODS_PRICE'].median(),inplace=True)

**missing values in NAME_TYPE_SUITE columns**

In [ ]:
appl_data['NAME_TYPE_SUITE'].value_counts()

In [ ]:
# NAME_TYPE_SUITE is a categoriacl column, we can repalce the missing values with the most occured value which is the mode of the column.
appl_data['NAME_TYPE_SUITE'].fillna(appl_data['NAME_TYPE_SUITE'].mode()[0],inplace=True)

**missing values in CNT_FAM_MEMBERS columns**

In [ ]:
appl_data['CNT_FAM_MEMBERS'].head()

In [ ]:
appl_data['CNT_FAM_MEMBERS'].value_counts()

CNT_FAM_MEMBERS is a numerical column .We see that most of the people are in a family with 2 members.\
we can replace the missing values with the mode of the column.

In [ ]:
appl_data['CNT_FAM_MEMBERS'].fillna(appl_data['CNT_FAM_MEMBERS'].mode()[0],inplace=True)
# Filled the missing value in CNT_FAM_MEMBERS with mode of the column

**handling null values in the following columns-**
    - OBS_30_CNT_SOCIAL_CIRCLE ,DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE\
* column description:
    * OBS_30_CNT_SOCIAL_CIRCLE : How many observation of client's social surroundings with observable 30 DPD (days past due) default
    * DEF_30_CNT_SOCIAL_CIRCLE : How many observation of client's social surroundings defaulted on 30 DPD (days past due) 
    * OBS_60_CNT_SOCIAL_CIRCLE : How many observation of client's social surroundings with observable 60 DPD (days past due) default
    * DEF_60_CNT_SOCIAL_CIRCLE : How many observation of client's social surroundings defaulted on 60 (days past due) DPD

**checking rows which as null values in all the 4 above columns**

In [ ]:
appl_data[(appl_data['OBS_30_CNT_SOCIAL_CIRCLE'].isnull())&(appl_data['DEF_30_CNT_SOCIAL_CIRCLE'].isnull())&
          (appl_data['OBS_60_CNT_SOCIAL_CIRCLE'].isnull())&(appl_data['DEF_60_CNT_SOCIAL_CIRCLE'].isnull())
         ]

In [ ]:
appl_data=appl_data[~((appl_data['OBS_30_CNT_SOCIAL_CIRCLE'].isnull())&
                      (appl_data['DEF_30_CNT_SOCIAL_CIRCLE'].isnull())&
                      (appl_data['OBS_60_CNT_SOCIAL_CIRCLE'].isnull())&
                      (appl_data['DEF_60_CNT_SOCIAL_CIRCLE'].isnull()))
                   ]
#Dropping the rows which has missing values in all the four columns OBS_30_CNT_SOCIAL_CIRCLE ,DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE , DEF_60_CNT_SOCIAL_CIRCLE

In [ ]:
# Shape of data after handling missing values
appl_data.shape

**FLAG DOCUMENT COLUMNS**\
FLAG_DOCUMENTS 2 TO 21 : THESE COLUMNS SHOW IF THE PARTICULAR DOCUMENT HAS BEEN SUBMITTE OR NOT.
THESE 20 COLUMNS SEEM IRRELEVENT IN DECIDING WHETHER THE CLIENT WILL BE A DEFAULTER OR NOT\
SO DROPPING THESE 20 COLUMNS

In [ ]:
document_cols=appl_data.loc[:,'FLAG_DOCUMENT_2':'FLAG_DOCUMENT_21'].columns
appl_data.drop(document_cols,axis=1,inplace=True)

In [ ]:
appl_data.shape # CHECKING THE SHAPE OF THE DATA

# FIXING INCORRECT ROWS AND COLUMNS

The entries in the columns DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH' are negative.
Number of days cannot be negative so converting them into possitive and then converting days to years

In [ ]:
# entries in lst are negative. converting them to possitive. and then converting days into years.
lst=['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']
for item in lst:
    appl_data[item]=appl_data[item].apply(lambda x : abs(x))
    appl_data[item]=appl_data[item].apply(lambda x :x/365)
    appl_data[item]=appl_data[item].apply(lambda x: round(x,2))

In [ ]:
# rounding off all coulms with days and changing the names of the columns 
appl_data['AGE']=round(appl_data['DAYS_BIRTH'],0)
appl_data['YEARS_EMPLOYED']=round(appl_data['DAYS_EMPLOYED'],0)
appl_data['YEARS_REGISTRATION']=round(appl_data['DAYS_REGISTRATION'],0)
appl_data['YEARS_ID_PUBLISH']=round(appl_data['DAYS_ID_PUBLISH'],0)

In [ ]:
#since age in days have been converted to years (age), we can drop the 'DAYS_BIRTH','DAYS_EMPLOYED' ,DAYS_REGISTRATION,'DAYS_ID_PUBLISH column
appl_data.drop(['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH'],axis=1,inplace=True)

In [ ]:
appl_data.head()

# Detecting Outliers

In [ ]:
numerical_columns=appl_data.dtypes[appl_data.dtypes!='object'].index
numerical_columns

In [ ]:
# outliers in AMT_INCOME_TOTAL column
plt.boxplot(appl_data['AMT_INCOME_TOTAL'])
plt.title('box plot representing the discribution of income')
plt.ylabel('income')
appl_data['AMT_INCOME_TOTAL'].describe()

* The above box plot clearly shows that there are outliers present in the AMT_INCOME_TOTAL column

In [ ]:
IQR=np.percentile(appl_data['AMT_INCOME_TOTAL'],75)-np.percentile(appl_data['AMT_INCOME_TOTAL'],25)  # calculating the inter quartile range
upper_lim=np.percentile(appl_data['AMT_INCOME_TOTAL'],75)+1.5*IQR
print(upper_lim)
# any value above the upper_lim is considered as outliers.

In [ ]:
#outliers in AMT_CREDIT column
plt.boxplot(appl_data['AMT_CREDIT'])
plt.title('box plot representing the distribution of credit amount',loc='right')
plt.ylabel('income')
appl_data['AMT_CREDIT'].describe()

* In the above boxplot, we see a lot of values above the upper whisker, which represents the outliers in the data

In [ ]:

IQR=np.percentile(appl_data['AMT_CREDIT'],75)-np.percentile(appl_data['AMT_CREDIT'],25)  # calculating the inter quartile range
upper_lim=np.percentile(appl_data['AMT_CREDIT'],75)+1.5*IQR
print(upper_lim)
# any value above the upper_lim is considered as outliers.

In [ ]:
#outliers in AMT_ANNUITY column
plt.boxplot(appl_data['AMT_ANNUITY'])
plt.title('box plot representing the distribution of amount annuity',loc='right')
plt.ylabel('amount annuity')
appl_data['AMT_ANNUITY'].describe()

* In the above boxplot, we see a lot of values above the upper whisker, which represents the outliers in the data

In [ ]:

IQR=np.percentile(appl_data['AMT_ANNUITY'],75)-np.percentile(appl_data['AMT_ANNUITY'],25)  # calculating the inter quartile range
upper_lim=np.percentile(appl_data['AMT_ANNUITY'],75)+1.5*IQR
print(upper_lim)
# any value above the upper_lim is considered as outliers.

In [ ]:
#outliers in AMT_GOODS_PRICE column
plt.boxplot(appl_data['AMT_GOODS_PRICE'])
plt.title('box plot representing the distribution of price of goods',loc='right')
plt.ylabel('price of goods')
appl_data['AMT_GOODS_PRICE'].describe()

* In the above boxplot, we see a lot of values above the upper whisker, which represents the outliers in the data

In [ ]:

IQR=np.percentile(appl_data['AMT_GOODS_PRICE'],75)-np.percentile(appl_data['AMT_GOODS_PRICE'],25)  # calculating the inter quartile range
upper_lim=np.percentile(appl_data['AMT_GOODS_PRICE'],75)+1.5*IQR
print(upper_lim)
# any value above the upper_lim is considered as outliers.

In [ ]:
# checking for outliers in the age column
appl_data['AGE'].plot.box()
plt.title('boxplot showing distribution of age')
plt.ylabel('age (in years)')

* The boxplot shows there are no outliers in the age column

In [ ]:
appl_data['YEARS_EMPLOYED'].plot.box()

* From the boxplot above we see there are entries of more than 1000 years of employment. which is clearly impossible

In [ ]:
# checking for outliers in the CNT_CHILDREN column
appl_data['CNT_CHILDREN'].plot.box()
plt.title('boxplot showing distribution of number of children in different families')
plt.ylabel('number of children')

In [ ]:
# checking for outliers in the CNT_FAM_MEMBERS column
appl_data['CNT_FAM_MEMBERS'].plot.box()
plt.title('boxplot showing distribution of number of members in client family')
plt.ylabel('number of members')

# UNIVARIATE ANALYSIS

# Univariate analysis on categorical columns

In [ ]:
categorical_columns=appl_data.dtypes[appl_data.dtypes=='object'].index
categorical_columns

**NAME_CONTRACT_TYPE**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
plt.pie(appl_data['NAME_CONTRACT_TYPE'].value_counts(normalize=True)*100,autopct='%.1f%%',labels=appl_data['NAME_CONTRACT_TYPE'].value_counts().index)
plt.title('NAME_CONTRACT_TYPE');

plt.subplot(2,2,2)
sns.countplot(appl_data['NAME_CONTRACT_TYPE'], hue=appl_data['TARGET'])
plt.title('NAME_CONTRACT_TYPE')
plt.ylabel('number of people')

 **OBSERVATIONS : NAME_CONTRACT_TYPE**
* Used pie-chart to analyze the percentage of cash loans and revolving loans\
    There are more of cash loans than revolving loans
* Used countplot to see number of defaulters opted for cash loans and revolving loans

**CODE_GENDER column**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
plt.pie(appl_data['CODE_GENDER'].value_counts(normalize=True)*100,autopct='%.1f%%',labels=appl_data['CODE_GENDER'].value_counts().index,explode=[0.1,0.1,0.1])    
plt.title('CODE_GENDER');

plt.subplot(2,2,2)
sns.countplot(appl_data['CODE_GENDER'], hue=appl_data['TARGET'])
plt.title('CODE_GENDER')
plt.ylabel('number of people')

**OBSERVATIONS**
* We see there are there 3 entries F()Female, M(Male) and XNA. 
    - (Making an assumption that XNA belong to other gender who dont classify themselves as male or female)
* Used pie chart to see percentages of different gender types applying for loan.
     * The percentage of female applying for loan is almost twice as much as that of male.
* Countplot has been used to see the count of male , female and XNA in defaulters.
     * There is not much difference in the number of male defaulter and female defaulters

**NAME_INCOME_TYPE column**

In [ ]:
plt.figure(figsize=(20,10))
plt.subplot(2,2,1)
plt.pie(appl_data['NAME_INCOME_TYPE'].value_counts(normalize=True)*100,autopct='%.1f%%',labels=appl_data['NAME_INCOME_TYPE'].value_counts().index,explode=[0.1]*8)    
plt.title('NAME_INCOME_TYPE');


plt.subplot(2,2,2)
sns.countplot(appl_data['NAME_INCOME_TYPE'], hue=appl_data['TARGET'])
plt.title('NAME_INCOME_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
plt.legend(loc='upper right');

plt.subplot(2,2,3)
sns.countplot(appl_data['NAME_INCOME_TYPE'], hue=appl_data['CODE_GENDER'])
plt.title('NAME_INCOME_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
plt.legend(loc='upper right')
#1.plotted a pie chat to see the percentage of applicants in each category of the NAME_INCOME_TYPE column\
#2.the second picture is of a countplot representing the count defaulters and non-defaulters in each category\
#3.2.the third picture is of a countplot representing the count of female , male,XNA in each category

**OBSERVATIONS**
 * Majority of the clients have NAME_INCOME_TYPE as working.
 * Very few people inthe caregory of Student,Unemployed,Businessman,and Maternity Leave who have applied for loan

**NAME_FAMILY_STATUS column**

In [ ]:
(appl_data['NAME_FAMILY_STATUS'].value_counts(normalize=True)*100).plot(kind='pie',rotatelabels=True,autopct='%.1f%%',explode=[0.1]*6);
plt.title('PERCENTAGE OF FAMILY-STATE OF DIFFERENT PEOPLE',loc='left')
#Pie plot showing percentages of various categories in the NAME_FAMILY_STATUS column.

**OBSERVATIONS**
* Majority of the applicants are married. 
* there are very few applicants who are widow or whose family status is unknown

**ORGANIZATION_TYPE column**

In [ ]:
plt.figure(figsize=(10,5))
(appl_data['ORGANIZATION_TYPE'].value_counts(normalize=True)*100).plot(kind='bar',width=0.5,align='center',edgecolor='black',color='red');
plt.ylabel('percentage')
plt.xlabel('ORGANIZATION TYPE')
plt.title('PERCENTAGE OF PEOPLE IN DIFFERENT ORGANIZATION')
# Bar graph representing the percentage of people in each category of ORGANIZATION_TYPE column

**OBSERVATIONS**
* Majority of the applicants are in Business Entity Type 3\
* There are least number of people in Industry Type 8

**NAME_EDUCATION_TYPE column**

In [ ]:
plt.figure(figsize=(16,9))
plt.subplot(2,2,1)
plt.pie(appl_data['NAME_EDUCATION_TYPE'].value_counts(normalize=True)*100,autopct='%.1f%%',labels=appl_data['NAME_EDUCATION_TYPE'].value_counts().index,explode=[0.25]*5)    
plt.title('NAME_EDUCATION_TYPE');


plt.subplot(2,2,2)
sns.countplot(appl_data['NAME_EDUCATION_TYPE'], hue=appl_data['TARGET'])
plt.title('NAME_INCOME_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
plt.legend(loc='upper right');

**OBSERVATIONS**
1. first is a pie plot representing percentage of people in different categories of NAME_EDUCATION_TYPE column
2. second is a count plot representing number of defaulters and non defaulters in each category of the NAME_EDUCATION_TYPE column

* Majority of the applicants have a Secondary / Secondary special education\
* Very less percentage of applicants  have either an academic degree or lower secondary or incomplete higher education

**OCCUPATION_TYPE column**

In [ ]:
(appl_data['OCCUPATION_TYPE'].value_counts(normalize=True)*100).plot(kind='barh',color='red',edgecolor='black');
plt.ylabel('OCCUPATION_TYPE')
plt.xlabel('percentage')
plt.title('OCCUPATION_TYPE OF PEOPLE APPLYING FOR LOAN',loc='left')

1.  count plot representing percentage of people in each category of the OCCUPATION_TYPE column

**OBSERVATIONS**
* Majority of the application whose Occupation type are mentioned are Laborers
* The least of the applicants are from IT staff

# UNIVARIATE ANALYSIS ON NUMERICAL COLUMNS

In [ ]:
numerical_cols=appl_data.dtypes[appl_data.dtypes!='object'].index
numerical_cols

In [ ]:
sns.distplot(appl_data['AMT_INCOME_TOTAL'],color='r')
plt.title('AMT_INCOME_TOTAL')
# Distribution plot of the income of the client

AMT_INCOME_TOTAL column contains outliers. 
plotting a distribution plot of the column without the outliers

In [ ]:
# creating a series of the AMT_INCOME_TOTAL columns whose values are less than 99th percentile 
np.percentile(appl_data['AMT_INCOME_TOTAL'],99)
INCOME_no_outlier=appl_data[appl_data['AMT_INCOME_TOTAL']<np.percentile(appl_data['AMT_INCOME_TOTAL'],99)]['AMT_INCOME_TOTAL']

In [ ]:
# plotting the column AMT_INCOME_TOTAL without outlier
sns.distplot(INCOME_no_outlier,color='r')
plt.title('AMT_INCOME_TOTAL_no(without outliers)')

**OBSERVATIONS**
* We see the plot is slightly skewed towards the left
* We see the density is the highest in the range 1lakh to 2lakhs

In [ ]:
# plotting distribution of AMT_CREDIT column
sns.distplot(appl_data['AMT_CREDIT'],color='g')
plt.title('AMT_CREDIT')

**OBSERVATIONS**
* From the above plot we see the distribution of the AMT_CREDIT  is skewed towards the left
* We observe the highest density to be somewhere around 3 lakhs

In [ ]:
# plotting distribution of AMT_ANNUITY column


sns.distplot(appl_data['AMT_ANNUITY'])
plt.title('AMT_ANNUITY')

**OBSERVATIONS**
* From the above plot we see the distribution of the AMT_ANNUITY  is skewed towards left.
* The highest observation is somewhere around 25000

In [ ]:
# plotting distribution of AMT_ANNUITY column
sns.distplot(appl_data['AMT_GOODS_PRICE'],color='orange')
plt.title('AMT_GOODS_PRICE')

**OBSERVATIONS**
* From the above plot we see the distribution of the AMT_ANNUITY  is skewed towards the left

In [ ]:
sns.histplot(appl_data['AGE'],color='green')
plt.title('AGE')
#Plotting distribution of age of the client

**OBSERVATIONS**
we see most of the apllicants are in 25 to 60 years range

# BIVARIATE AND MULTIVARIATE ANALYSIS

In [ ]:
#checking correlation betewen diffent variables.
numerical_cols2=appl_data.dtypes[appl_data.dtypes!='object'].index
numerical_cols2

The correlation between two variables ranges from -1 to 1. Negative value denotes negative correlation between variables and possitive value denotes possitive correlation. 
We are interested if there is a relation between the variables, doesnt matter possitive or negative. 
So taking absolute value of the correlation.

In [ ]:
corr_df=abs(appl_data[numerical_cols2].corr())
corr_df

**PLOTTING HEATMAP FOR NUMERICAL COLUMNS**

In [ ]:
plt.figure(figsize=(30,30));
sns.heatmap(appl_data[numerical_cols2].corr(),cmap='crest', annot=True,square=False)
# Plotting the heatmap showing relation between numerical columns

In [ ]:
# correlation of one column with itself is always 1. Removing all such pairs.
corr=corr_df.unstack()[corr_df.unstack()!=1]
corr.sort_values(ascending=False).head(22)

# TOP 10 CORRELATIONS

In [ ]:

#
'''TOP 10 CORRELATIONS
    AMT_ANNUITY               AMT_GOODS_PRICE             0.773992

    AMT_CREDIT                AMT_ANNUITY                 0.769366

     DAYS_EMPLOYED             AGE                         0.623992

    AMT_GOODS_PRICE           AMT_CREDIT                  0.986732
    CNT_CHILDREN              CNT_FAM_MEMBERS             0.879228

    DAYS_EMPLOYED             FLAG_EMP_PHONE              0.999753

    OBS_60_CNT_SOCIAL_CIRCLE  OBS_30_CNT_SOCIAL_CIRCLE    0.998490

    FLAG_EMP_PHONE            AGE                         0.619941

    DEF_30_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE    0.860517

    LIVE_CITY_NOT_WORK_CITY   REG_CITY_NOT_WORK_CITY      0.825615'''

**Plotting scatter plot to see the relation between the pairs of variables in the top 10 correlation list**

CNT_CHILDREN and CNT_FAM_MEMBERS

In [ ]:
sns.scatterplot(appl_data['CNT_CHILDREN'],appl_data['CNT_FAM_MEMBERS'])
plt.title('Relation between number of children and number of family members')

**OBSERVATIONS**\
The above scatterplot shows, more the family members more will be the number of children

AMT_ANNUITY and AMT_GOODS_PRICE

In [ ]:
sns.scatterplot(appl_data['AMT_ANNUITY'],appl_data['AMT_GOODS_PRICE'])
plt.title('Relation between AMT_ANNUITY and AMT_GOODS_PRICEs', loc='right')

**OBSERVATIONS**\
From the above scatterplot we see that as the price of goods rises, the amount annuity also increases

AMT_CREDIT and AMT_ANNUITY

In [ ]:
sns.scatterplot(appl_data['AMT_CREDIT'],appl_data['AMT_ANNUITY'])
plt.title('Relation between credit amount and amount annuity')

**OBSERVATIONS**\
From the above scatter plot we see as the credit amount increases , the amount annuity increases

AMT_GOODS_PRICE and AMT_CREDIT

In [ ]:
sns.scatterplot(appl_data['AMT_GOODS_PRICE'],appl_data['AMT_CREDIT'])
plt.title('Relation between prive of goods  and amount credit')

**OBSERVATIONS**\
From the scattter plot above, we see a stong relation between  price of goods and amount of credit .\
As the goods price increase , the amount credit also increases.

YEARS_EMPLOYED and AGE

In [ ]:
sns.scatterplot(appl_data['YEARS_EMPLOYED'],appl_data['AGE'])
plt.title('Relation between age of the person and years employed')

**OBSERVATIONS**\
In the above scatter plot we see years of employment being more than 1000 years, which isnt possible.
we see as the age increases, so does the number of years being employed
Removing the outliers in the employed column and then plotting the same scatterplot bellow.

In [ ]:
sns.scatterplot(appl_data['AGE'],appl_data[appl_data['YEARS_EMPLOYED']<1000]['YEARS_EMPLOYED'])  
# plotting the scatter plot without the outliers in the YEARS_EMPLOYED column
plt.title('Relation between age of the person and years employed')

**OBSERVATIONS**\
So we see the maximum years a person has been employed is around 50 years.\
Years of employment increases as the age increases,
there are aslo entries which shows that there are clients with age greater 50 with less than 10 years of employment.

YEARS_EMPLOYED and FLAG_EMP_PHONE

In [ ]:
sns.scatterplot(appl_data['YEARS_EMPLOYED'],appl_data['FLAG_EMP_PHONE'])
plt.title('Relation between years of empolyment  and the client providing work phone number')
# 0 for client provided the work phone number 1 for not providing work phone number

OBS_60_CNT_SOCIAL_CIRCLE and OBS_30_CNT_SOCIAL_CIRCLE

In [ ]:

sns.scatterplot(appl_data['OBS_60_CNT_SOCIAL_CIRCLE'],appl_data['OBS_30_CNT_SOCIAL_CIRCLE'])

FLAG_EMP_PHONE and AGE

In [ ]:

sns.scatterplot(appl_data['FLAG_EMP_PHONE'],appl_data['AGE'])

DEF_30_CNT_SOCIAL_CIRCLE and DEF_60_CNT_SOCIAL_CIRCLE

In [ ]:

sns.scatterplot(appl_data['DEF_30_CNT_SOCIAL_CIRCLE'],appl_data['DEF_60_CNT_SOCIAL_CIRCLE'])

LIVE_CITY_NOT_WORK_CITY and REG_CITY_NOT_WORK_CITY

In [ ]:

sns.scatterplot(appl_data['LIVE_CITY_NOT_WORK_CITY'],appl_data['REG_CITY_NOT_WORK_CITY'])

# SEGMENTING THE DATA BASED ON DEFAULTERS AND NON-DEFAULTERS

In [ ]:
defaulters=appl_data[appl_data['TARGET']==1]
non_defaulters=appl_data[appl_data['TARGET']==0]
defaulters.dtypes

In [ ]:
#checking imbalance in the data
target_1=defaulters.shape[0]
target_0=non_defaulters.shape[0]

In [ ]:
# Ratio of non_defaulters todefaulters
target_0/target_1

In [ ]:
categorical_cols=defaulters.dtypes[defaulters.dtypes=='object'].index
categorical_cols

Plotting count plots for defauters and non-defaulters for every categorical column

**NAME_CONTRACT_TYPE**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['NAME_CONTRACT_TYPE'])    
plt.title('NAME_CONTRACT_TYPE(For defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['NAME_CONTRACT_TYPE'])
plt.title('NAME_CONTRACT_TYPE(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: more people have applied for cash loans than revolving loans
* The people who are non-defaulters: more people have applied for cash loans than revolving loans

**CODE_GENDER**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['CODE_GENDER'])    
plt.title('CODE_GENDER')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['CODE_GENDER'])
plt.title('CODE_GENDER(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATION**
* The people who are defaulters: there are more female than male
* The people who are non-defaulters: there are more female than male

**FLAG_OWN_CAR**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['FLAG_OWN_CAR'])    
plt.title('FLAG_OWN_CAR')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['FLAG_OWN_CAR'])
plt.title('FLAG_OWN_CAR(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: There are more people who donot have a car than people having car
* The people who are non-defaulters: There are more people who donot have a car than people having car

**FLAG_OWN_REALTY**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['FLAG_OWN_REALTY'])    
plt.title('FLAG_OWN_REALTY')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['FLAG_OWN_REALTY'])
plt.title('FLAG_OWN_REALTY(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: There are more people who have realty than people who donot have realty.
* The people who are non defaulters: There are more people who have realty than people who donot have realty.

**NAME_INCOME_TYPE**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['NAME_INCOME_TYPE'])    
plt.title('NAME_INCOME_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['NAME_INCOME_TYPE'])
plt.title('NAME_INCOME_TYPE(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: There are more people who are working followed by people who are commercial associates.
* The people who are non defaulters: There are more people who are working followed by people who are commercial associates.

**NAME_EDUCATION_TYPE**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['NAME_EDUCATION_TYPE'])    
plt.title('NAME_EDUCATION_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['NAME_EDUCATION_TYPE'])
plt.title('NAME_EDUCATION_TYPE(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: Majority of the people have Secondary/secondary specail education.
* The people who are non defaulters: Majority of the people have Secondary/secondary specail education.

**NAME_FAMILY_STATUS**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['NAME_FAMILY_STATUS'])    
plt.title('NAME_FAMILY_STATUS')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['NAME_FAMILY_STATUS'])
plt.title('NAME_FAMILY_STATUS(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: Majority of the people are married.
* The people who are non defaulters: Majority of the people are married

**NAME_HOUSING_TYPE**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['NAME_HOUSING_TYPE'])    
plt.title('NAME_HOUSING_TYPE(FOR DEFAULTERS)')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['NAME_HOUSING_TYPE'])
plt.title('NAME_HOUSING_TYPE(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90)

**OBSERVATIONS**
* The people who are defaulters: Majority of the people live in house/appartment
* The people who are non-defaulters: Majority of the people live in house/appartment

**OCCUPATION_TYPE**

In [ ]:
plt.figure(figsize=(12,10))
plt.subplot(2,2,1)
sns.countplot(defaulters['OCCUPATION_TYPE'])    
plt.title('OCCUPATION_TYPE')
plt.ylabel('number of people')
plt.xticks(rotation=90)
    
    

plt.subplot(2,2,2)
sns.countplot(non_defaulters['OCCUPATION_TYPE'])
plt.title('OCCUPATION_TYPE(For non_defaulters)')
plt.ylabel('number of people')
plt.xticks(rotation=90);

**Plotting count plots for defauters and non-defaulters for every numerical column column**

In [ ]:
numerical_cols=defaulters.dtypes[defaulters.dtypes!='object'].index
numerical_cols

**CNT_CHILDREN**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['CNT_CHILDREN'])    
plt.title('CNT_CHILDREN (DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['CNT_CHILDREN'])
plt.title('CNT_CHILDREN(NON-DEFAULTERS)')
plt.ylabel('frequency')
plt.xticks(rotation=90);

**OBSERVATIONS**\
*for defaulters:We see that most of the people who are defaulters have no children and very few people have more than 5 children.*\
*for non defaulters:We see that most of the people who are non defaulters have no children and very few people have more than 4 children.*

**AMT_INCOME_TOTAL**

Binning income column of both defaulters and non defaulters dataframe into low,medium,high, very high groups.

In [ ]:
appl_data['AMT_INCOME_TOTAL'].describe()

In [ ]:
def amt_income(x):
    if x<=100000:
        return "low"
    elif x>100000 and x<=150000:
        return "medium"
    elif x>150000 and x<=200000:
        return "high"
    else:
        return "very high"

In [ ]:
non_defaulters['INCOME']=non_defaulters['AMT_INCOME_TOTAL'].apply(amt_income)

In [ ]:
defaulters['INCOME']=defaulters['AMT_INCOME_TOTAL'].apply(amt_income)

In [ ]:
plt.figure(figsize=(21,15))
plt.subplot(2,2,1)
sns.countplot(non_defaulters['INCOME'],hue=non_defaulters['CODE_GENDER'])    
plt.title('DISTRIBUTION OF GENDER WITH RESPECT TO INCOME (non-DEFAULTERS)')


plt.subplot(2,2,2)
sns.countplot(defaulters['INCOME'],hue=defaulters['CODE_GENDER'])
plt.title('DISTRIBUTION OF GENDER WITH RESPECT TO INCOME (DEFAULTERS)');

**OBSERVATIONS**
* we see there are applicants who have high income and who are defaulters.
* also we see there are people who have low income and are non defaulters.

**OBSERVATIONS**

**AMT_CREDIT**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['AMT_CREDIT'])    
plt.title('AMT_CREDIT(DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['AMT_CREDIT'])
plt.title('AMT_CREDIT(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATIONS**
* Both the plots we see the distribution is skewed towards the left

Binning amount credit  column into low,medium,high , very high groups

In [ ]:
appl_data['AMT_CREDIT'].describe()

In [ ]:
def amt_credit(x):
    if x<=270000:
        return "low"
    elif x>270000 and x<=500000:
        return "medium"
    elif x>500000 and x<=800000:
        return "high"
    else:
        return "very high"

In [ ]:
non_defaulters['CREDIT']=non_defaulters['AMT_CREDIT'].apply(amt_credit)

In [ ]:
defaulters['CREDIT']=defaulters['AMT_CREDIT'].apply(amt_credit)

In [ ]:
plt.figure(figsize=(10,10))
plt.subplot(2,2,1)
sns.countplot(non_defaulters['CREDIT'],hue=non_defaulters['CODE_GENDER'])    
plt.title('AMT_CREDIT (non-DEFAULTERS)')
plt.xticks(rotation=90)
plt.legend(loc='upper right')

plt.subplot(2,2,2)
sns.countplot(defaulters['CREDIT'],hue=defaulters['CODE_GENDER'])
plt.title('AMT_CREDIT (DEFAULTERS)')
plt.xticks(rotation=90)
plt.legend(loc='upper right');

**OBSERVATIONS**
* There are majority of people whose amount credit is low for who are non defaulters
* There are signifiacntly less number of people with high credit value in both defauters and non-defaulters category

**AMT_ANNUITY**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['AMT_ANNUITY'])    
plt.title('AMT_ANNUITY(DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['AMT_ANNUITY'])
plt.title('AMT_ANNUITY(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATIONS**\
In both the plots the distribution is left skewed.

**AMT_GOODS_PRICE**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['AMT_GOODS_PRICE'])    
plt.title('AMT_GOODS_PRICE(DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['AMT_GOODS_PRICE'])
plt.title('AMT_GOODS_PRICE(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATIONS**
* In both the plots the distribution is left skewed.

**CNT_FAM_MEMBERS**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['CNT_FAM_MEMBERS'])    
plt.title('CNT_FAM_MEMBERS(DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['CNT_FAM_MEMBERS'])
plt.title('CNT_FAM_MEMBERS(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATIONS**
* In both the plots we very similar distribution.
* Majority of the people who are defauters have 2 members in their family.
* Majority of the people who are non defauters have 2 members in their family.

**AGE**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['AGE'])    
plt.title('AGE (DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['AGE'])
plt.title('AGE (NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATIONS**
* IN the defaulters plot, we see there is a decline in the number of applicants as the age increases.

**YEARS_EMPLOYED**

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(defaulters['YEARS_EMPLOYED'])    
plt.title('YEARS_EMPLOYED (DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(non_defaulters['YEARS_EMPLOYED'])
plt.title('YEARS_EMPLOYED(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**OBSERVATION**
We cannot conclude anything from the above plots. Its because the YEARS_EMPLOYED column has outliers

In [ ]:
x=np.percentile(defaulters['YEARS_EMPLOYED'],99)
new1=defaulters[defaulters['YEARS_EMPLOYED']<x]['YEARS_EMPLOYED']
new2=non_defaulters[non_defaulters['YEARS_EMPLOYED']<x]['YEARS_EMPLOYED']

* DESCRIPTION OF THE ABOVE CODE
    * CREATED TWO NEW SERIES FROM THE DEFAULTERS AND NON DEFAULTERS DATAFRAME REMOVING THE OUTLIERS
*NOW PLOTTING HISTOGRAM OF THE NEW SERIES

In [ ]:
plt.figure(figsize=(15,10))
plt.subplot(2,2,1)
sns.histplot(new1)    
plt.title('YEARS_EMPLOYED (DEFAULTERS)')
plt.xticks(rotation=90);

plt.subplot(2,2,2)
sns.histplot(new2)
plt.title('YEARS_EMPLOYED(NON-DEFAULTERS)')
plt.xticks(rotation=90);

**PLOTTING HEATMAP FOR NUMERICAL COLUMNS IN THE defaulters columns**

In [ ]:
plt.figure(figsize=(25,25))
sns.heatmap(defaulters[numerical_cols].corr(),square=False,cmap='RdYlGn',annot=True)

PLOTTING HEATMAP FOR NUMERICAL COLUMNS IN THE non_defaulters columns

In [ ]:
plt.figure(figsize=(25,25))

sns.heatmap(non_defaulters[numerical_cols].corr(),cmap='RdYlGn',annot=True)

# PREVIOUS APPLICATION DATASET

In [ ]:
# PREVIOUS APPLICATION DATA SET

In [ ]:
prev_appl=pd.read_csv('previous_application.csv')

In [ ]:
prev_appl.head()

In [ ]:
prev_appl.dtypes

In [ ]:
prev_appl.shape

In [ ]:
prev_appl.describe()

In [ ]:
prev_appl.info()

# Handling missing values in previous application column

In [ ]:
cols_to_drop=(prev_appl.isnull().mean()*100)[(prev_appl.isnull().mean()*100)>40]
cols_to_drop  # columns with more than 40% missing values

In [ ]:
#dropping columns with more than 40% missing values

In [ ]:
prev_appl.drop(cols_to_drop.index,axis=1,inplace=True)

In [ ]:
#checking null values in columns
(prev_appl.isnull().sum())[prev_appl.isnull().sum()>0]

WEEKDAY_APPR_PROCESS_START: On which day of the week did the client apply for previous application
HOUR_APPR_PROCESS_START: Approximately at what day hour did the client apply for the previous application

WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START : these two columns seem irrelevant for out analysis

In [ ]:
prev_appl.drop(['WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START'],axis=1,inplace=True)

In [ ]:
prev_appl['PRODUCT_COMBINATION'].describe()

In [ ]:
# AMT_CREDIT and PRODUCT_COMBINATION columns have less than 1%
# filling the AMT_CREDIT column with median 
# PRODUCT_COMBINATION is a categorical column, filing the PRODUCT_COMBINATION column with mode
prev_appl['AMT_CREDIT'].fillna(prev_appl['AMT_CREDIT'].median(),inplace=True)
prev_appl['PRODUCT_COMBINATION'].fillna(prev_appl['PRODUCT_COMBINATION'].mode()[0],inplace=True)

In [ ]:
prev_appl['AMT_ANNUITY'].describe()

In [ ]:
# filling null values AMT_ANNUITY with median
prev_appl['AMT_ANNUITY'].fillna(prev_appl['AMT_ANNUITY'].median(),inplace=True)

In [ ]:
prev_appl['AMT_GOODS_PRICE'].describe()

In [ ]:
# filling null values of AMT_GOODS_PRICE with median
prev_appl['AMT_GOODS_PRICE'].fillna(prev_appl['AMT_GOODS_PRICE'].median(),inplace=True)

In [ ]:
prev_appl['CNT_PAYMENT'].describe()

In [ ]:
# filling null values of CNT_PAYMENT with median
prev_appl['CNT_PAYMENT'].fillna(prev_appl['CNT_PAYMENT'].median(),inplace=True)

fixing rows and columns

In [ ]:
#coverting the negative entries in 'DAYS_DECISION' to possitive and converting days to year
prev_appl['Years_DECISION']=prev_appl['DAYS_DECISION'].apply(lambda x:abs(x)/365)

In [ ]:
# we have made a new column Years_DECISION containing the entries of DAYS_DECISION in years. so we can drop DAYS_DECISION column
prev_appl.drop('DAYS_DECISION',axis=1, inplace=True)

# merging the application and previous application data frames on SK_ID_CURR

In [ ]:
combined_data=appl_data.merge(prev_appl,how='inner',on='SK_ID_CURR')
# combined_data contains all the rows of prev_appl  which are common in appl_data with respect to the column SK_ID_CURR

In [ ]:
combined_data.shape

In [ ]:
combined_data['NAME_CONTRACT_STATUS'].value_counts()

In [ ]:
# dividing the target column into 4 parts based on the status of loan

In [ ]:
Approved=combined_data[combined_data['NAME_CONTRACT_STATUS']=='Approved']
Refused=combined_data[combined_data['NAME_CONTRACT_STATUS']=='Refused']
Canceled=combined_data[combined_data['NAME_CONTRACT_STATUS']=='Canceled']
Unused_offer=combined_data[combined_data['NAME_CONTRACT_STATUS']=='Unused offer']

In [ ]:
Approved.shape

In [ ]:
Refused.shape

In [ ]:
Canceled.shape

In [ ]:
Unused_offer.shape

In [ ]:
# Four Countplots showing distribution of Gender across the four dataframes:Approved,Refused,Canceled ,Unused_offer
fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(10,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['CODE_GENDER'])
ax1.set_title('approved loan based on male/female/others')
ax1.set_ylabel('count of people')

Ax2=sns.countplot(ax=ax2,x=Refused['CODE_GENDER'])
ax2.set_title('Refused loan based on male/female/others')
ax2.set_ylabel('count of people')

Ax3=sns.countplot(ax=ax3,x=Canceled['CODE_GENDER'])
ax3.set_title('Canceled loan based on male/female/others')
ax3.set_ylabel('count of people')

Ax4=sns.countplot(ax=ax4,x=Unused_offer['CODE_GENDER'])
ax4.set_title('Unused_offer loan based on male/female/others')
ax4.set_ylabel('count of people')

**OBSERVATIONS**
* we see there are more female applicant than male in all the contract status of the loan.

In [ ]:
# Four Countplots showing distribution of cash loans and revolving loans across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(10,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['NAME_CONTRACT_TYPE_x'])
ax1.set_title(' total count oftype of loan those are approved')
ax1.set_ylabel('count of people')

Ax2=sns.countplot(ax=ax2,x=Refused['NAME_CONTRACT_TYPE_x'])
ax2.set_title('total count oftype of loan those are refused')
ax2.set_ylabel('count of people')

Ax3=sns.countplot(ax=ax3,x=Canceled['NAME_CONTRACT_TYPE_x'])
ax3.set_title('total count oftype of loan that is cancelled')
ax3.set_ylabel('count of people')

Ax4=sns.countplot(ax=ax4,x=Unused_offer['NAME_CONTRACT_TYPE_x'])
ax4.set_title('total count oftype of loan thouse were')
ax4.set_ylabel('count of people')

**OBSERVATIONS**
* we see there are more cash loan than revolving loan in all the contract status of the loan.

In [ ]:
# Four Countplots showing distribution of education_type across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(10,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['NAME_EDUCATION_TYPE'])
ax1.set_title('count of loan approved on different education types')
ax1.set_ylabel('count of people')
ax1.set_xticklabels(ax1.get_xticklabels(),rotation=90)

Ax2=sns.countplot(ax=ax2,x=Refused['NAME_EDUCATION_TYPE'])
ax2.set_title('count of loan refused on different education types')
ax2.set_ylabel('count of people')
ax2.set_xticklabels(ax2.get_xticklabels(),rotation=90)

Ax3=sns.countplot(ax=ax3,x=Canceled['NAME_EDUCATION_TYPE'])
ax3.set_title('count of loan canceled on different education types')
ax3.set_ylabel('count of people')
ax3.set_xticklabels(ax3.get_xticklabels(),rotation=90)

Ax4=sns.countplot(ax=ax4,x=Unused_offer['NAME_EDUCATION_TYPE'])
ax4.set_title('count of loan unused on different education types')
ax4.set_ylabel('count of people')
ax4.set_xticklabels(ax4.get_xticklabels(),rotation=90)

**OBSERVATIONS**
* For Approved,Refused,Canceled contract status of loan, applicants with Secondary/Secondary sprecial is greater than those of the other education type.
* For Unused_offer applicants with higher education is  greater than Secondary/Secondary sprecial education

In [ ]:
# Four Countplots showing distribution of different income types across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(10,15),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['NAME_INCOME_TYPE'])
ax1.set_title(' total count of loan those are approved in different income type')
ax1.set_ylabel('count of people')
ax1.set_xticklabels(ax1.get_xticklabels(),rotation=45)


Ax2=sns.countplot(ax=ax2,x=Refused['NAME_INCOME_TYPE'])
ax2.set_title('total count of loan those are refused in different income type')
ax2.set_ylabel('count of people')
ax2.set_xticklabels(ax2.get_xticklabels(),rotation=45)


Ax3=sns.countplot(ax=ax3,x=Canceled['NAME_INCOME_TYPE'])
ax3.set_title('total count of loan that is cancelled in different income type')
ax3.set_ylabel('count of people')
ax3.set_xticklabels(ax3.get_xticklabels(),rotation=90)


Ax4=sns.countplot(ax=ax4,x=Unused_offer['NAME_INCOME_TYPE'])
ax4.set_title('total count of loan thouse were in different income type')
ax4.set_ylabel('count of people')
ax4.set_xticklabels(ax4.get_xticklabels(),rotation=45)

**OBSERVATIONS**
* The loans with approved contract status,have majority of working people.
* The loans with refused contract status,have majority of working people.
* The loans with canceled contract status,have majority of working people.

In [ ]:
Approved.columns

In [ ]:
# Four Countplots showing distribution of different family state across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(15,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['NAME_FAMILY_STATUS'])
ax1.set_title('count of diiferent family state of people whose loan were approved')
ax1.set_ylabel('count of people')
ax1.set_xticklabels(ax1.get_xticklabels(),rotation=15)


Ax2=sns.countplot(ax=ax2,x=Refused['NAME_FAMILY_STATUS'])
ax2.set_title('count of diiferent family state of people whose loan were refused')
ax2.set_ylabel('count of people')
ax2.set_xticklabels(ax2.get_xticklabels(),rotation=15)


Ax3=sns.countplot(ax=ax3,x=Canceled['NAME_FAMILY_STATUS'])
ax3.set_title('count of diiferent family state of people whose loan were cancelled')
ax3.set_ylabel('count of people')
ax3.set_xticklabels(ax3.get_xticklabels(),rotation=90)

Ax4=sns.countplot(ax=ax4,x=Unused_offer['NAME_FAMILY_STATUS'])
ax4.set_title('count of diiferent family state of people whose loan were unused')
ax4.set_ylabel('count of people')
ax4.set_xticklabels(ax4.get_xticklabels(),rotation=90)

In [ ]:
# Four Countplots showing distribution of different housing types across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(15,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['NAME_HOUSING_TYPE'])
ax1.set_title('housing type of people whose loan were approved')
ax1.set_ylabel('count of people')
ax1.set_xticklabels(ax1.get_xticklabels(),rotation=15)


Ax2=sns.countplot(ax=ax2,x=Refused['NAME_HOUSING_TYPE'])
ax2.set_title('housing type of people whose loan were refused')
ax2.set_ylabel('count of people')
ax2.set_xticklabels(ax2.get_xticklabels(),rotation=15)


Ax3=sns.countplot(ax=ax3,x=Canceled['NAME_HOUSING_TYPE'])
ax3.set_title('housing type of people whose loan were cancelled')
ax3.set_ylabel('count of people')
ax3.set_xticklabels(ax3.get_xticklabels(),rotation=90)

Ax4=sns.countplot(ax=ax4,x=Unused_offer['NAME_HOUSING_TYPE'])
ax4.set_title('housing type of people whose loan were unused')
ax4.set_ylabel('count of people')
ax4.set_xticklabels(ax4.get_xticklabels(),rotation=90)

**OBSERVATIONS**
* in all contract status, the majority ofapplicants have House/appartments.

In [ ]:
# Four Countplots showing distribution of wheter the appricants phone was reachable or not across the four dataframes:Approved,Refused,Canceled ,Unused_offer

fig,((ax1,ax2),(ax3,ax4))=plt.subplots(nrows=2,ncols=2, figsize=(15,10),sharey=True)
Ax1=sns.countplot(ax=ax1,x=Approved['FLAG_CONT_MOBILE'])
ax1.set_title('number of approved ppl whose phone were reachable or not')
ax1.set_ylabel('count of people')


Ax2=sns.countplot(ax=ax2,x=Refused['FLAG_CONT_MOBILE'])
ax2.set_title('number of refused ppl whose phone were reachable or not')
ax2.set_ylabel('count of people')


Ax3=sns.countplot(ax=ax3,x=Canceled['FLAG_CONT_MOBILE'])
ax3.set_title('number of cancelled ppl whose phone were reachable or not')
ax3.set_ylabel('count of people')

Ax4=sns.countplot(ax=ax4,x=Unused_offer['FLAG_CONT_MOBILE'])
ax4.set_title('number of unused ppl whose phone were reachable or not')
ax4.set_ylabel('count of people')

*****************************************************************